.dropdown {
  float: left;
  margin-right: 5px;
}

.btn-default {
  background-color: #ddd !important;
  color: #666 !important;
  /*width: 100px !important;*/
}

.btn {
  border-radius: 0px !important; 
  padding: 9px 12px !important;
}

